#videoContainer {
    width: 100%;
    position: relative;
    video {
        width: 100%;
    }
    .videoControls {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.showing {
            opacity: 0.9;
        }
        align-items: center;
        border-radius: 10px;
        position: absolute;
        bottom: 10px;
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr auto;
        gap: 10px;
        justify-content: space-between;
        background-color: #0f1117;
        padding: 10px;
        box-sizing: border-box;
        .videoControls__play {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .videoControls__playBtn {
                margin-left: 15px;
            }
            .videoControls__time {
                margin-left: 16px;
                font-size: 12px;
            }
        }
        .videoControls__volume {
            display: flex;
            align-items: center;
            span {
                margin: 0 10px 0 10px;
                i {
                    font-size: 16px;
                }
            }
            .videoControls__volumeRange {
                width: 80%;
            }
        }
        .videoControls__full {
            span {
                margin-right: 10px;
                i {
                    font-size: 16px;
                }
            }
        }
    }
}
