doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
    body
        include partials/header.pug
        main
            block content
        include partials/footer.pug
        //- static인 이유는 우리 서버에 등록한 이름이라서
        script(src="/static/js/main.js")