extends base.pug

block content
    //- "/"를 추가해줘서 절대경로 이미지로 바꿔주기
    
    //- enctype 반드시 설정 해주기
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(name="avatar", type="file", id="avatar", accept="image/*")
        input(name="email", type="email", value=loggedInUser.email, placeholder="Email", required)
        input(name="username", type="text", value=loggedInUser.username, placeholder="Username", required)
        input(name="location", type="text", value=loggedInUser.location, placeholder="Location", required)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;
            //-  절대경로("/")가 아닌 상대경로
            //- a(href="/users/change-password") change Password &rarr;